body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-primary);
}

/* Toggle A */

input#toogleA:checked~.dot {
  transform: translateX(100%);
  background-color: #000;
}

.popup-content {
  padding: 0 !important;
  border: none !important;
  /* display: flex;
  justify-content: center; */
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --swiper-navigation-color: #000;
  --swiper-pagination-color: #000;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.popup-overlay {
  background: rgba(0, 0, 0, .8) !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .2) 25%, rgba(0, 0, 0, .2), transparent 75%, transparent);
}

.ResizePanel-module_ResizeBarHorizontal__3TBZ5 {
  width: 0 !important;
  margin-left: 0 !important;
  background-color: transparent !important;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

.my-popup-content {
  max-width: 80% !important;
  width: 100% !important;
  max-height: 80% !important;
}

.swiper-container {
  background-color: #000 !important;
}

.dark .swiper-container {
  background-color: #fff !important;
}

.mySwiperSlide .swiper-slide>img {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 500px;
  object-fit: contain;
}

.mySwiper .swiper-slide>img {
  width: 100%;
  object-fit: cover;
  height: 185px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;